<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MussuM's Coffee</title>
    @Styles.Render("~/Content/css") <!--dentro content/css está layout.css-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header>
        <div>
            @*<a class="headerlogo" href="@Url.Action("BestSellers","Coffee")">
                    <img src="~/Images/logo.png" />
                </a>*@
            <span id="headername">MussuM's Coffee</span>
            <input type="search" class="searchbox" placeholder="Search our store" />
        </div>

        <nav class="backgroundgradient">
            <ul>
                <li><a class="navlink" href="@Url.Action("BestSellers","Coffee")">Home</a></li>
                <li><a class="navlink" href="@Url.Action("AllCoffees","Coffee")">Cafés</a></li>
                @*<li><a class="navlink" href="accessories.html">Accessories</a></li>
                    <li><a class="navlink" href="Gifts.html">Gifts</a></li>*@
                <li><a class="navlink" href="findus.html">Encontre-nos</a></li>
                <li><a class="navlink" href="checkout.html">Checkout</a></li>

            </ul>
        </nav>
    </header>

    <div class="">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/test")*@
    @RenderSection("scripts", required: false)
</body>
</html>

